APP_NAME="Klinik FAM Dental Care"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://klinikfamdentalcare.com

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=cache

LOG_CHANNEL=daily
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=klinikfamdentalcare_prod
DB_USERNAME=klinik_user
DB_PASSWORD=StrongProductionPasswordHere!

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=kfdc_prod_

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=your-smtp-user
MAIL_PASSWORD=your-smtp-password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@klinikfamdentalcare.com"
MAIL_FROM_NAME="${APP_NAME}"

# Akun Admin Awal (Digunakan oleh AdminSeeder)
ADMIN_NAME="Administrator"
ADMIN_EMAIL="admin@klinikfamdentalcare.com"
ADMIN_PASSWORD="ReplaceWithSuperSecret123!"
